{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Profesores | OT2023{% endblock %}
{% block css %}{% static "css/profes.css" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for teacher in teachers  %}
            <div class="col-6 col-lg-3 img">
                <a href="{{ teacher.get_absolute_url }}">
                    <img src="{% thumbnail teacher.avatar 180x180 %}">
                    <h2>{{ teacher.first_name|upper }} {{ teacher.last_name|upper }}</h2>
                    <p>Profe de:
                        {% for subject in teacher.subject.all %}
                            {{ subject.name }}
                        {% endfor %}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}