.col-sm-4 {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #1a98ff;
    width: 270px;
    height: 440px;
    transition: 0.4s ease;
}

.col-sm-8 {
    margin-top: 350px;
    margin-bottom: 150px;
    margin-left: 150px;
}

.col-sm-4:hover{
    transform: scale(1.05);
    box-shadow: 0 0 11px #1a98ff; 
}

.col-sm-4 .card-body img{
    margin-bottom: 20px;
}

.col-sm-4 .card-body {
    color: black;
}

.col-sm-4 .card-body h4 {
    text-transform: uppercase;
}

.col-sm-4 .card-body svg {
    color: black;
    transition: 0.3s ease;
}

.col-sm-4 .card-body svg:hover{
    transform: scale(1.10);
}

.primelogo {
    width: 200px;
}

.teacherinfo svg {
    color: #1a98ff;
}

.teacherinfo {
    font-size: large;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .col-sm-4 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .col-sm-8 {
        margin-top: 250px;
        margin-left: 30px;
    }
}

@media (max-width: 992px) {
    .col-sm-4 {
        align-items: center;
        justify-content: center;
    }
    
    .col-sm-8 {
        margin-top: 0px;
        margin-left: 0px;
    }
}
