{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Concursantes | OT2023{% endblock %}
{% block css %}{% static "css/concursante.css" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h1>Concursantes:</h1>
        {% for competitor in active_competitors  %}
            <div class="col-6 col-lg-3 img">
                <a href="{{ competitor.get_absolute_url }}">
                    <img src="{% thumbnail competitor.avatar 180x180 %}">
                    <h2>{{ competitor.first_name|upper }} {{ competitor.last_name|upper }}</h2>
                </a>
                <p>{{ competitor.get_years }} años</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <h1>Concursantes eliminados:</h1>
        {% for eliminated in eliminated_competitors  %}
            <div class="col-6 col-lg-3 img">
                <a href="{{ eliminated.get_absolute_url }}">
                    <img src="{% thumbnail eliminated.avatar 180x180 %}">
                        <h2>{{ eliminated.first_name|upper }} {{ eliminated.last_name|upper }}</h2>
                    </a>
                    <p>{{ eliminated.get_years }} años</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}