{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="icon" type="image/jpg" href="{% static "img/logoprime.jpg" %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container main">
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>